<section data-ng-controller="HomeController">
	<ui-gmap-google-map center="map.center" zoom="map.zoom">
		<ui-gmap-marker
			ng-repeat="marker in markers"
	    idKey="marker.id"
	    coords="marker.coords">
	  </ui-gmap-marker>
	</ui-gmap-google-map>

	<div class="form-container">
		<form ng-submit="getYelpResults(location, term)" name="yelp-query">
			<span>Location</span>
			<input type="text" placeholder="San Francisco, CA" name="location" ng-model="location">
			<span>Term</span>
			<input type="text" placeholder="Lunch" name="term" ng-model="term">
			<input type="submit">
		</form>
	</div>

	<div>
		<ul>
			<li ng-repeat="biz in businesses">
				<div>{{biz.name}} {{biz.rating}}</div>
			</li>
		</ul>
	</div>

</section>
